doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    link(rel="stylesheet", href="css/main.css")
    block styles
  body 
    header.main-header
      nav.main-header__nav
        a.main-header__nav-item.logo(href="/")
          img.logo(href="/" src="https://spd.tech/wp-content/uploads/2023/12/SPD-TECHNOLOGY-white.svg" style='width: 69px; height: 45px;')
        
        .main-header__nav-item.full-width.search-bar__container
          input.search-bar(type="text")
          a(href="/" style="padding:0")
            svg.search-icon(xmlns="http://www.w3.org/2000/svg" width="35px" height="35px" viewBox="0 0 24 24" fill="none")
              path(d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke-width="1" stroke-linecap="round" stroke-linejoin="round")
        
        .main-header__nav-item
          a(href="/cart") Cart  
          a(href="/orders") Orders
    main
      block content
    