.button {
  line-height: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
  place-content: center;
  min-width: 1rem;
  text-align: center;

  text-decoration: none;
  padding: 1.3rem 1.3rem;

  border-radius: 5px;
}

.button:hover {
  background-color: var(--root-gray);
}

.button.outlined {
  box-sizing: border-box;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.7rem);
  border: 2px solid transparent;
  border-radius: 8px;

  background-image: linear-gradient(white, white),
    linear-gradient(90deg, var(--root-yellow), var(--root-red));
  background-origin: border-box;
  background-clip: padding-box, border-box;

  span {
    color: black;
  }
}

.button.outlined:hover {
  background-image: linear-gradient(white, white),
    linear-gradient(90deg, #ee4646, #f9ae35);

  span {
    background-image: linear-gradient(
      45deg,
      var(--root-red),
      var(--root-yellow)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
}

.button.buy-btn {
  padding: 0.2rem;
  width: 35%;
  display: block;
  border: 1px solid var(--root-gray);
  content: "";
  place-self: end;

  background: none;
  border: none;

  svg {
    stroke: var(--root-red);
  }

  &&:hover {
    svg {
      stroke: var(--root-yellow);
    }
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.more {
  min-width: 10rem;
}

.login,
.signup {
  width: 8rem;
}
