main {
  justify-content: flex-start;
  align-items: center;
}

.products-container.admin {
  width: 90%;
}

.product-card.admin {
  display: grid;
  grid-template-columns: 10rem auto 8rem 8rem 12rem 15rem;
  grid-template-rows: auto;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.products-container.admin div:nth-last-child(-n + 1) {
  border-bottom: 0;
}

.product-card__title.admin,
.product-card__price.admin {
  font-weight: bold;
  font-size: 1.2rem;
}

.product-card__title:hover.admin {
  color: var(--root-red);
  cursor: pointer;
}

.product-card__image.admin {
  width: 100%;
  height: 100%;
  place-content: center;
  line-height: 0;
}

.product-card__image.admin img {
  width: 150px;
  height: auto;
}

.product-card__details.admin {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0;

  .product-card__timestamps {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.product-card__timestamps.admin span {
  font-size: 0.7rem;
}

.product-card__actions.admin {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
