.form {
  display: grid;
  row-gap: 1rem;
  place-self: center;
}

.form__input-field {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form__input-field label {
  padding: 0.2rem 0;
}

.form__input-field input {
  padding: 0.3rem 0.5rem;
  border: none;
  border-bottom: 1px solid silver;
  border-radius: 3px;

  &&:focus {
    outline: none;
  }
}

.form__input-field textarea {
  min-width: 98%;
  min-height: 6rem;
  height: 10rem;
  padding: 0.2rem;
  border: 1px solid silver;
  border-radius: 3px;

  &&:focus {
    outline: none;
  }
}
