.products-container {
  display: grid;
  grid-template-columns: repeat(5, auto) 8rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.products-container :nth-last-child(-n + 2) {
  border-right: 0;
}

.product-card__title,
.product-card__price {
  font-weight: bold;
  font-size: 1.2rem;
}

.product-card__image {
  width: 100px;
  height: 100px;
  max-height: 100px;
  place-content: center;
}

.product-card__image img {
  width: 100px;
  height: auto;
}