extends ../layout/header.pug

block styles
  link(rel="stylesheet", href="/css/product-cards.css")
  link(rel="stylesheet", href="/css/buttons.css")

block content
  each category in categories
    include ../layout/products-section.pug

block scripts
  script(src="/scripts/render-stars.js" type="module")
  script(src="/scripts/setup-get-product-details.js" type="module")