extends ../layout/header.pug

block styles
  link(rel="stylesheet", href="/css/product-forms.css")

block content 
  form.container.product-form(action=(`/admin/edit-product/${productId}`) method='POST')
    .product-form__input-field
      label(for="title") Title
      input#title(type="text" name="title" value=(product.title || ''))
    .product-form__input-field
      label(for="category") Category
      input#category(type="text" name="category" value=(product.category || '')) 
    .product-form__input-field
      label(for="imageUrl") Image Url
      input#imageUrl(type="text" name="imageUrl" value=(product.imageUrl || '')) 
    .product-form__input-field
      label(for="price") Price
      input#price(type="number" name="price" min="0" step=".01" value=(product.price || '')) 
    .product-form__input-field
      label(for="description") Description
      textarea#description(name="description") #{(product.description || '')}
    input(type="hidden" name="_csrf" value=(csrfToken))
    button.button(type="submit") Save changes