extends ../layout/header.pug

block styles
  link(rel="stylesheet", href="/css/forms.css")
  link(rel="stylesheet", href="/css/buttons.css")

block content
  form.container.form(action="/register" method="POST")#registration
    .form__input-field
      label(for="username") Username
      input#username(type="text" name="username")
    .form__input-field
      label(for="email") Email
      input#email(type="text" name="email")
    .form__input-field
      label(for="password") Password
      input#password(type="text" name="password")
    .form__input-field
      label(for="passwordConfirm") Confirm password
      input#passwordConfirm(type="text" name="passwordConfirm") 
    input(type="hidden" name="_csrf" id="_csrf" value=(csrfToken))
    button.button.outlined.signup(id="sign-up") Sign Up

block scripts
  script(src="/scripts/validation/registration.js" type='module')
